.one {
    display: inline-block;
    border: 1px solid antiquewhite;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #7ea7e0;
    text-align: center;
  }
  h1{
    width: 50% fit-content;
    height: 50% fit-content;
    background-color: #ccc;
  }
  img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
  }
  #one{
    margin-left: 40%;
    margin-right: 45%;
    
  }
  label{
    margin-left: 40%;
  }